/* footer design  */
.all__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    background-color: #F1F1F1;
    margin-top: 40px;
}

.footer__all {
    width: 90%;
    display: flex;
    gap: 20px;
    margin-top: 40px;

    ul {
        li {
            list-style: none;
        }
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

}

.first__link {
    width: 25% !important;
    display: flex;
    justify-content: center;
    align-self: center;

    img {
        width: 60%;
    }
}

.second__link {
    width: 25%;

    ul {
        display: flex;
        flex-direction: column;
    }
}

.thirt__link {
    width: 25%;
}

.four__link {
    width: 25%;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 720px) {
    .four__link {
        ul {
            li {
                a {
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .footer__all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__all__first {
        display: flex;
    }

    .second__link {
        width: 50%;
    }

    .thirt__link {
        width: 56%;
    }

    .four__link {
        width: 56%;
    }
}

.footer__bottom {
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-around;
    align-items: center !important;


}

.footer__end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 23px;
}

@media only screen and (max-width: 650px) {
    .footer__bottom {
        display: flex;
        flex-direction: column;
    }

    .first__link {
        width: 40% !important;
    }
}