

/* section2 design  */
.section2 {
    width: 100% !important;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section2__all {
    width: 100% !important;
    display: flex;
    gap: 10px;
}

.res__sec12 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 66.6%;
    gap: 10px;
}

.section2__left {
    width: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

.section2__left__inside {
    width: 70%;
}

.section2__middle {
    width: 50%;
    /* width: ; */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 595px;
        width: 100%;
    }

}

.section2__right {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100% !important;
        height: 595px;
    }
}

.button__div {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
    }
}

.button__div:hover {
    background-color: black;

    button {
        color: white;
    }
}

@media only screen and (max-width: 1100px) {
    .section2__all {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .res__sec12 {
        width: 100% !important;
    }

    .section2__left {
        width: 50% !important;
    }

    .section2__middle {
        width: 50% !important;

        img {
            width: 100% !important;
        }
    }

    .section2__right {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .section2__left__inside {
        h1 {
            font-size: 40px;
        }
    }

    .section2__left {
        height: 400px;
    }

    .section2__middle {

        img {
            height: 400px;
        }

    }

    .res__sec12 {
        display: flex;
        flex-direction: column;
    }

    /* .res__sec12{
        width: 100% !important;
    } */
    .section2__left {
        width: 100% !important;
    }

    .section2__middle {
        width: 100% !important;

        img {
            width: 100% !important;
        }
    }
}

/* section3 design  */


.section3 {
    margin-top: 10px;
    position: relative;
    padding: 10px;
}

.section3__text {
    position: absolute;
    transform: translate(0%, 50%);
    top: 10%;
    left: 5%;
    z-index: 12;
    width: 500px;

    /* padding: 20px;   */
    h5 {
        font-size: 20px;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.746);
    }
}

@media only screen and (max-width: 1390px) {
    .section3__text {
        position: absolute;
        transform: translate(0%, 10%);
        top: 5%;
        left: 5%;

    }
}

@media only screen and (max-width: 960px) {
    .section3__text {
        max-width: 100% !important;

        h5 {
            font-size: 18px;
        }

        h1 {
            font-size: 45px;
        }

        p {
            font-size: 17px;
            color: rgba(0, 0, 0, 0.746);
        }
    }
}
@media only screen and (max-width: 980px) {
    .section3__text {
        max-width: 100% !important;

        h5 {
            font-size: 18px;
        }

        h1 {
            font-size: 45px;
        }

        p {
            font-size: 17px;
            color: rgba(0, 0, 0, 0.746);
        }
    }
    .section3__shop__div{
        width: 130px;
        height: 30px;
    }
}


@media only screen and (max-width: 820px) {
    .section3 {
        height: auto !important;
    }

    .section3__text {
        max-width: 70% !important;

        h5 {
            font-size: 15px;
        }

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 15px;
            color: rgba(0, 0, 0, 0.746);
        }
    }
    
}


@media only screen and (max-width: 670px) {
    .section3 {
        height: auto !important;
    }

    .section3__text {
        max-width: 100% !important;

        h5 {
            font-size: 15px;
        }

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 15px;
            color: rgba(0, 0, 0, 0.746);
        }
    }
}

@media only screen and (max-width: 530px) {
    .section3 {
        width: auto;
        height: auto !important;
    }

    .section3__text {
        width: auto !important;

        h5 {
            font-size: 18px;
        }

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.746);
            /* display: none; */
        }
    }
}

@media only screen and (max-width: 520px) {
    .section3 {
        height: 00px;

        img {
            height: 70vh;
        }
    }

    /* @media only screen and (max-width: 1400px) {
        .section3{
            height: auto !important;
            img{
                height: 60vh;
            }
        }
      } */


      @media only screen and (max-width: 520px) {
        .section3__shop__div{
            display: none !important;
        }
        }

    .section3__text {
        position: absolute;
        transform: translate(0%, 10%);
        top: 30%;
        left: 5%;


        h5 {
            font-size: 18px;
        }

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.746);

        }

        .section3__shop__div {
            width: 100px;
            height: 28px;
        }
    }
}

.section3__shop__div {
    width: 180px;
    height: 50px;
    border: 1px solid black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    button {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 18px;
    }
}

.section3__shop__div:hover {
    background-color: black;

    button {
        color: white;
    }
}








/* section4 design  */
.section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section4__left {
    width: 600px;

    img {
        // width: 100%;
    }
}

.section4__right {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* border: 1px solid red; */

}

.section4__right__middle {
    /* border: 2px solid black; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section4__right__middle__text {
    /* border: 2px solid gray; */
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        color: gray;
    }
}

.section4__buttondiv {
    /* border: 1px solid blue; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center !important;
    // border: 2px solid red;
}

.section4__buttondiv2 {
    width: 150px;
    height: 40px;
    border: 1px solid black;

    button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .section4__right__middle {
        width: 370px;
    }
    .section4__right{
        width: 370px;
    }

    .section4__right__middle__text {
        width: 400px;
    }
.section4__left{
    width: 450px;
    padding: 30px;
    img{
        height: 500px;
    }
}
}

@media only screen and (max-width: 850px) {
    .section4 {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .section4__left {
        width: 100%;
        padding: 3px;

        img {
            width: 100%;
        }
    }

    .section4__right {
        z-index: 12;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-20%);
    }

    .section4__right__middle {
        width: 100%;
    }
.section4__right__middle__text{
    width: 100%;
}
}

@media only screen and (max-width: 600px) {
    


   

    .section4__right__middle {
        width: 100%;
    }

    .section4__buttondiv {
        width: 100%;

        button {
            font-size: 15px;
        }
    }

    
}

// @media only screen and (max-width: 430px) {
//     .section4__buttondiv {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         gap: 1px;
//     }

//     .section4__right {
//         position: absolute;
//         transform: translate(2%, 60%);
//         left: 10;
//         top: 10%;
//         z-index: 12;
//     }
// }

@media only screen and (max-width: 480px) {
    
    .section4__right{
        width: 300px;
    }
    .section4__right__middle{
        width: 270px;
        // border: 2px solid red;
        img{
            width: 270px;
        }
    }
}

// @media only screen and (max-width: 350px) {
//     .section4__buttondiv {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         gap: 1px;
//     }

//     .section4__right {
//         position: absolute;
//         transform: translate(1%, 60%);
//         left: 0;
//         top: 10%;
//         z-index: 12;
//     }
//     .section4__right{
//         width: 300px;
//     }
//     .section4__right__middle{
//         width: 270px;
//         // border: 2px solid red;
//         img{
//             width: 270px;
//         }
//     }
// }

.section4__buttondiv2:hover {
    background-color: black;

    button {
        color: white;
    }
}
.ssection4{
    // margin-top: 10px;
}



/* section5 design  */
.section5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@media only screen and (max-width: 850px) {
    .section5__text{
        width: 450px !important;
    }
}
@media only screen and (max-width: 500px) {
    .section5__text{
        width: 250px !important;
    }
}
.section55 {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    p {
        font-size: 20px;
    }
}

.section5__text {
    width: 100%;
    font-size: 20px;
    font-family: cursive;
}
.section5__buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 170px;
        height: 40px;
        background-color: transparent;
        border: 1px solid black;
    }
}
@media only screen and (max-width: 850px) {
    .section5 {
        width: 100%;
        display: flex;

    }
.section55{
    width: 370px;
    display: flex;
    align-items: start !important;
    h1{
        font-size: 20px;
    }
}
    .section5__text {
        width: 100%;
    }
}

@media only screen and (max-width: 730px) {
    .section5 {
        width: 100%;
        // margin-top: 490px !important;

    }
} 
@media only screen and (max-width: 600px) {
    .section5 {
        width: 100%;
        // margin-top: 390px !important;

    }
} 



@media only screen and (max-width: 520px) {
    .section5 {
        width: 100%;
        // margin-top: 450px !important;

    }

    .section55 {
        padding: 60px;
        h1 {
            font-size: 35px;
        }
    }

    .section5__text {
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
  .section5{
width: 280px;
}
.section55{
width: 100%;
}

    }

.section6__buttondiv {
    width: 170px;
    height: 50px;
    border: 1px solid black;
    background-color: transparent;
   

    button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 20px;
    }
}

.section6__buttondiv:hover {
    background-color: black;

    button {
        color: white;
    }
}

@media only screen and (max-width: 355px) {
    .section5 {
        width: 100%;
        // margin-top: 380px !important;

    }
}

/* section6 design  */
.section6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.section6__left {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.section6__text {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 25px;
    /* border: 2px solid black; */
    width: 60%;

    h4 {
        font-size: 25px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.584);
    }
}

.section6__right {
    width: 50%;

    img {
        width: 100%;
    }
}
.section6__buttondiv{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 100%;
        height: 100%;
        border: none;
        font-size: 20px;
    }
}
.section6__left1{
    display: none;
}

@media only screen and (max-width: 1000px) {
  .section6__text{
    width: 50%;
    align-items: start !important;
  }
  }
  @media only screen and (max-width: 800px) {
   .section6{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   .section6__left{
    // width: 80%;
    display: none;
    
   }
   .section6__left1{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .section6__text{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .section6__buttondiv{
    // width: 0%;
   
   }
   .section6__right{
    width: 100%;
    img{
        width: 100%;
        height: 60vh;
    }
   }
    }
    @media only screen and (max-width: 430px) {
        .section7__difference{
            h1{
                font-size: 40px;
            }
        }
        .section6__text{
            h4{
                font-size: 18px;
            }
        }
        }


    /* section7 design  */
    .section7{
        margin-top: 70px;
    }
  .salam{
    display: none;
  }
  .HomeCard1:hover{
    img{
        display: none;
    }
    .salam{
        display: flex;
       img{
        display: flex;
       }
    }
  }
  .HomeCard1{
    border: none;
  }
  .section7__difference{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media only screen and (max-width: 1200px) {
   .HomeCard1{
    width: 18rem !important;
   }
  }
  @media only screen and (max-width: 770px) {
    .HomeCard1{
        width: 100% !important;
    }
    
   }

   /* section8 design  */
   .section8{
    width: 100%;
   }
   .section8__all{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .section8__first{
    width: 33.3%;
    border: 1px solid rgba(128, 128, 128, 0.474);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .section8text1{
    width: 50%;
   }
   .section8text2{
    width: 50%;
   }
   .section8text3{
    width: 50%;
   }
   @media only screen and (max-width: 900px) {
   .section8text1{
    width: 80%;
   }
   .section8text2{
    width: 80%;
   }
   .section8text3{
    width: 80%;
   }
   .section8__first{
    img{
        // width: 100px;
    }
   }
  }
  @media only screen and (max-width: 650px) {
    .section8__all{
        display: flex;
        flex-direction: column;
        
    }
    .section8__first{
        width: 100%;
        img{
            width: 100px;
        }
    }
   
   }
