/* contact section2 design  */
.Login__Section2__all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
    margin-top: 30px;
}

.Send__mail__form {
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 600px;
    height: 600px;
    padding: 40px;
    background-color: white;

    /* h3 {
        margin-left: 40px;
    } */
}


.Name__contact {
    display: flex;
    gap: 12px;
    margin-left: 40px;

}

.Contact__nameBox {
    display: flex;
    flex-direction: column;
    width: 43%;

    input {
        width: 100%;
        height: 40px;
    }

}

.Contact__MailBox {
    width: 40%;

    input {
        width: 100%;
        height: 40px;
    }
}

.Mail__contact {
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;

    input {
        width: 100%;
        height: 40px;
    }
}

.Contact__message__Box {
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;

    textarea {
        width: 100%;
    }
}

.Contact__Submit {
    margin-top: 10px;
    margin-left: 40px;

    button {
        width: 120px;
        height: 40px;
        background-color: transparent;
        border: 1px solid black;
        font-size: 18px;
    }

    button:hover {
        background-color: black;
        color: white;

    }
}

.Contact__sec2__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 480px;
    /* border: 2px solid yellow; */

    h3 {
        font-size: 40px;

    }

    p {
        font-size: 20px;
        color: gray;
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.864);
        font-size: 20px;
        display: flex;
        gap: 10px;
    }
}

.Contact__sec2__left__container {
    height: 300px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 480px;
}

@media only screen and (max-width: 1200px) {
    .Contact__sec2__left__container {
        width: 380px;
    }

    .Contact__sec2__left {
        width: 380px;
    }
}

@media only screen and (max-width: 1140px) {
    .Login__Section2__all {
        display: flex;
        gap: 1px;
    }

    .Send__mail__form {
        /* border: 2px solid red;*/
        /* width: 40%; */
        width: 450px;
        height: 550px;
        padding: 20px;


    }


}



@media only screen and (max-width: 780px) {
    .Login__Section2__all {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .Contact__sec2__left__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Contact__sec2__left {
        width: 90%;
    }

    .Contact__sec2__right {
        width: 100%;
        margin-top: 20px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    .Send__mail__form {
        width: 90%;

    }
}

.contact__map {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    iframe {
        width: 95%;
    }
}

.Login__Section2__all {
    transform: translateY(-70px);
    display: flex;
    flex-direction: column;
}
.Register__page{
    // border: 2px solid red;
    a{
        text-decoration: none;
        font-size: 23px;
    }
    
}
.Login__Page{
    a{
        text-decoration: none;
        font-size: 23px;
    }
}